<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3><%=@article.title%></h3>
    <h5><%=@article.author%></h5>
    <p><%=@article.date%></p>
    <p><%=@article.content%></p>
  </body>
</html>
